![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [104]:
# Import the numpy and pandas packages
import numpy as np
import pandas as pd
import datetime as dt

# Load the df_price, df_room_type and df_last_review dataframes using appropriate pandas methods
df_price = pd.read_csv("data/airbnb_price.csv")
df_room_type = pd.read_excel("data/airbnb_room_type.xlsx").to_csv("data/airbnb_room_type.csv", index = None, header = True)
df_room_type = pd.read_csv("data/airbnb_room_type.csv")
df_last_review = pd.read_csv("data/airbnb_last_review.tsv", sep = "\t")

In [105]:
# Print the head of the df_price dataframe
print(df_price.head())

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [106]:
# Print the head of the df_room_type dataframe
print(df_room_type.head())

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [107]:
# Print the head of the df_last_review dataframe
print(df_last_review.head())

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [108]:
# Convert the "last_review" column of the df_last_review dataframe
df_last_review["last_review"] = pd.to_datetime(df_last_review["last_review"])

# Extract the earliest and latest review dates from the df_last_review dataframe and store the result in the earliest_review_date and latest_review_date variables, respectively, and print the result
earliest_review_date = df_last_review["last_review"].min()
latest_review_date = df_last_review["last_review"].max()
print("Earliest review date: ", earliest_review_date.strftime("%d/%m/%Y"))
print("Latest review date: ", latest_review_date.strftime("%d/%m/%Y"))

Earliest review date:  01/01/2019
Latest review date:  09/07/2019

In [109]:
# Clean the "room_type" column of the df_room_type dataframe by converting all entries in the column to lowercase format, so as to have a unique possible value attained by each room type
df_room_type["room_type"] = df_room_type["room_type"].str.lower()

# Count the number of listings which are private rooms using the df_room_type dataframe and store the result in the number_of_private_rooms variable, and print the result
number_of_private_rooms = len(df_room_type[df_room_type["room_type"] == "private room"]["room_type"])
print("Number of private rooms: ", number_of_private_rooms)

Number of private rooms:  11356

In [110]:
# Clean the "price" column of the df_price dataframe by converting all entries in the column to float format, so as to have numerical values for each price
df_price["price"] = df_price["price"].str.replace("dollars", "").str.replace(" ", "")
df_price["price"] = df_price["price"].astype("float")

# Calculate, to the nearest penny, the average listing price from the mean of the "price" column of the df_price dataframe and store it in the average_listing_price variable
average_listing_price = round(df_price["price"].mean(), 2)
print("Average listing price: $", average_listing_price)

Average listing price: $ 141.78

In [111]:
# Combine all newly created variables in a new dataframe called review_dates with one row and four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price, and print the head of the review_dates dataframe
review_dates = pd.DataFrame(index=[0], data={
    "first_reviewed": earliest_review_date,
    "last_reviewed": latest_review_date,
    "nb_private_rooms": number_of_private_rooms,
    "avg_price": average_listing_price
})
print(review_dates.head())

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78